<%- include('layouts/header'); -%>
<%- include('layouts/navbar'); -%>
<%- include('layouts/modal'); -%>
<%- include('layouts/modal-confirm'); -%>

<div class="container">
    <h1 class="display-6 mb-3">Cadastro de Curso</h1>

    <div class="row">
        <div class="col-md-2">

        </div>

        <div class="col-md-8">
            <div class="row mb-3">
                <div class="col-md-3">
                    <label for="idBusca" class="form-label">Sigla do Curso</label>
                    <input type="text" class="form-control" id="idBusca">
                </div>
                <div class="col-md-9 position-relative">
                    <label for="nomeBusca" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="nomeBusca" >
                    <span style="position: absolute; width: 100%; padding-right: 24px; display: none;" id="sugestionTable" class="col-md-9">
                        <table id="nomeBuscaTable" class="table table-hover table-sm table-borderless">
                            <thead>
                              <tr>
                                <th scope="col">Codigo</th>
                                <th scope="col">Nome</th>
                              </tr>
                            </thead>
                            <tbody id="nomeBuscaAutoFill">
                            </tbody>
                          </table>
                    </span>
                </div>     
            </div>

            <div class="row">
                <div class="col-auto">
                    <div class="btn-group" role="group">
                        <input type="radio" class="btn-check" name="btnRadio" id="btnNovo" autocomplete="off" >
                        <label class="btn btn-outline-primary" for="btnNovo">Novo</label>
                    
                        <input type="radio" class="btn-check" name="btnRadio" id="btnEditar" autocomplete="off" disabled>
                        <label class="btn btn-outline-primary" for="btnEditar">Editar</label>

                        <input type="radio" class="btn-check" name="btnRadio" id="btnExcluir" autocomplete="off" disabled>
                        <label class="btn btn-outline-danger" for="btnExcluir">Excluir</label>
                    </div>
                </div>
            </div>
            <form id="createCursoForm">
                <div class="row mb-3">
                    <div class="col-md-2">
                        <label for="id" class="form-label">Código Curso</label>
                        <input type="text" class="form-control" id="id" disabled>
                    </div>
                    <div class="col-md-3">
                        <label for="sigla" class="form-label">Sigla Curso</label>
                        <input type="text" class="form-control" id="sigla" disabled required>
                    </div>
                    <div class="col-md-7">
                        <label for="nome" class="form-label">Nome Curso</label>
                        <input type="text" class="form-control" id="nome" disabled required>
                    </div>
                </div>
                <div class="row">
                    <div class="d-grid gap-2 d-md-block">
                        <input type="text" id="formAction" hidden>
                        <button type="button" style="display: none;" class="btn btn-primary" id="btnCancelar">Cancelar</button>
                        <button type="submit" style="display: none;" class="btn btn-primary" id="btnSalvar">Salvar</button>
                    </div>
                </div>
            </form>

            <div class="row">
                <label for="curriculoTable" class="form-label">Curriculos do Curso</label>
            </div>

            <div class="row scrollable-table mb-5" style="height: 150px !important; padding-left: 12px; padding-right: 12px;">
                <table id="curriculoTable" class="table table-hover table-sm">
                    <thead>
                      <tr>
                        <th scope="col">Curriculo</th>
                        <th scope="col">Excluir</th>
                      </tr>
                    </thead>
                    <tbody id="curriculosAutoFill">
                    </tbody>
                </table>
            </div>

            
            <div class="row mb-3">
                <h1 class="display-6">Adicionar Curriculo ao Curso</h1>
            </div>
            <div class="row mb-3 " >
                <form id="createCurriculoForm">
                    <div class="row mb-3 align-items-center">
                        <div class="col-md-2">
                            <label for="nomeCurriculo" class="form-label">Nome Curriculo</label>
                        </div>

                        <div class="col-md-8">
                            <input type="text" class="form-control" id="nomeCurriculo" disabled required>
                        </div>

                        <div class="col-md-2">
                            <button type="submit" class="btn btn-primary" id="btnSalvarCuriculo" disabled   >Adicionar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/javascripts/form_script.js"></script>
<script src="/javascripts/cadastro_curso.js"></script>

<%- include('layouts/footer'); -%>